.mgkqu { 
  font-size: 57px;
  padding-bottom: 64px;
  padding-top: 18px;
  margin-right: 94px;
  padding-top: 6px;
  border-top-width: 97px;
  padding-right: 27px;
  border-right-width: 44px;
  margin-right: 18px;
  margin-right: 28px;
  margin-left: 77px;
  font-size: 7px;
  margin-top: 98px;
  font-size: 19px;
  border-top-width: 67px;
  border-left-width: 77px;
  margin-bottom: 20px;
  margin-top: 72px;
}
