.mgkqu { 
  font-size: 57px;
  padding-bottom: 64px;
  padding-top: 18px;
  margin-right: 94px;
  padding-top: 6px;
  border-top-width: 97px;
  padding-right: 27px;
  border-right-width: 44px;
  margin-right: 18px;
  margin-right: 28px;
  margin-left: 77px;
  font-size: 7px;
  margin-top: 98px;
  font-size: 19px;
  border-top-width: 67px;
  border-left-width: 77px;
  margin-bottom: 20px;
  padding-left: 92px;
  padding-top: 15px;
  border-left-width: 26px;
  padding-right: 29px;
  padding-right: 17px;
  margin-right: 49px;
  border-top-width: 10px;
  margin-bottom: 68px;
  font-size: 99px;
  margin-top: 68px;
  border-bottom-width: 45px;
  margin-left: 48px;
  border-top-width: 83px;
  padding-left: 73px;
  font-size: 23px;
  padding-left: 92px;
  padding-bottom: 14px;
  padding-bottom: 85px;
  margin-bottom: 99px;
  padding-bottom: 45px;
  margin-right: 24px;
}
