.mgkqu { 
  font-size: 57px;
  padding-bottom: 64px;
  padding-top: 18px;
  margin-right: 94px;
  padding-top: 6px;
  border-top-width: 97px;
  padding-right: 27px;
  border-right-width: 44px;
  margin-right: 18px;
  margin-right: 28px;
  margin-left: 77px;
  font-size: 7px;
  margin-top: 98px;
  font-size: 19px;
  border-top-width: 67px;
  border-left-width: 77px;
  margin-bottom: 20px;
  padding-left: 92px;
  padding-top: 15px;
  border-left-width: 26px;
  padding-right: 29px;
  padding-right: 17px;
  margin-right: 49px;
  border-top-width: 10px;
  margin-bottom: 68px;
  font-size: 99px;
  margin-top: 68px;
  border-bottom-width: 45px;
  margin-left: 48px;
  border-top-width: 83px;
  padding-left: 73px;
  font-size: 23px;
  padding-left: 92px;
  padding-bottom: 14px;
  padding-bottom: 85px;
  margin-bottom: 99px;
  border-left-width: 85px;
  padding-bottom: 67px;
  padding-left: 82px;
  line-height: 82px;
  padding-top: 2px;
  margin-bottom: 66px;
  font-size: 21px;
  line-height: 54px;
  border-right-width: 4px;
  font-size: 21px;
  border-bottom-width: 46px;
  border-left-width: 96px;
  border-right-width: 63px;
  margin-left: 66px;
  border-top-width: 10px;
  border-bottom-width: 28px;
  font-size: 19px;
  border-left-width: 83px;
  padding-top: 29px;
  border-bottom-width: 1px;
  padding-top: 35px;
  line-height: 67px;
  padding-top: 96px;
  margin-top: 30px;
  border-left-width: 70px;
  margin-top: 44px;
  border-bottom-width: 81px;
  padding-top: 7px;
  padding-top: 62px;
  font-size: 19px;
  line-height: 69px;
  padding-left: 84px;
  border-bottom-width: 16px;
  margin-bottom: 65px;
  margin-bottom: 60px;
  line-height: 53px;
  padding-top: 96px;
}
