.mgkqu { 
  font-size: 57px;
  padding-bottom: 64px;
  padding-top: 18px;
  margin-right: 94px;
  padding-top: 6px;
  border-top-width: 97px;
  padding-right: 27px;
  border-right-width: 44px;
  margin-right: 18px;
  padding-top: 43px;
}
